/* @import "nes-ui-react"; */

@import "../node_modules/nes.css/css/nes.css";

#app {
  margin: 16px;
}

.menu {
  width: 50%;
  /* text-align: center; */
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.intro {
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3vh;
}
